*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
    
}

body{
    /* background:#e6e9ec; */
}

header{
    width:100vw;
    padding:2em;
    background:grey;
    margin-bottom:1em;
}

#ProfileWrapper{
    /* background-image:url("/images/cover.jpg"); */
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    /* height: 250px; */

    position:relative;

}
.profileImage{
    width:150px;
    height:150px;
    border-radius:50%;
    vertical-align: middle;
    
}

.profileData{
    padding-left:1em;
    padding-top:1em;
}

.profileData h2{
    font-size:x-large;
    font-weight: bold;
}

.profileData h5{
    font-size:small;
    color:grey;
}

.profileData p{
    font-size:x-small;
    color:grey;
}

#feed{
    text-align:left;
    color:grey;
    padding:10px;
}
/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width:100%;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width:100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size:large;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    border:none;
    border-left: 1px solid grey;
    display:none;
    
  }

  .material-icons{
      color:grey;
  }