{% load static %}	
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>
	<style>

.fa {
  margin-top:-5px;
  padding: 5px;
  font-size: 25px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  margin-top:30px;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #f09433;
  color: white;
}
.fa-linkedin {
  background: #0077B5;
  color: white;
}
		{% block css %} 
			#dropdownMenuButton{
				color:lightgreen;
				}
			
		{% endblock %}
	</style>
	
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand " href="/shop">SMARTCart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <a href="http://127.0.0.1:8000/shop/" class="fa fa-home" style="color:white;"></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/shop" style="margin-left:-20px;">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop/about">About US</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/shop/tracker">Tracker</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/shop/contact">Contact US</a>
      </li>	 
	  <li>
	  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Cart
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
    <a class="dropdown-item" href='/shop/checkout' id ='checkout'>Checkout</a>
    <a class="dropdown-item" href='javascript:clearCart()' id ='clearCart'>Clear Cart</a>
  </div>
</div>
	  </li>
      
    </ul>
    <form method='get' action='/shop/search/' class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span class="fa fa-search" style="margin-left:-12px;"></span>Search</button>
    </form>
	<button type="button" class="btn btn-secondary mx-2" data-container="body" data-toggle="popover" id="popcart" data-placement="bottom" data-html="true" data-content="Vivamus
	sagittis lacus vel augue laoreet rutrum faucibus.">
	<div class="fa fa-cart-arrow-down" style="color:white;"></div>
	Cart(<span id="cart">0</span>)
	</button>
  </div>
</nav>
	{% block body %} {% endblock %}

	<!--<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div id="social">
		<a href="https://www.facebook.com/buddy.sj" class="fa fa-facebook" style="margin-left:10px;"></a>
		<a href="https://twitter.com/Ess_Jay2" class="fa fa-twitter"></a>
		<a href="https://www.instagram.com/theshubham31/?hl=en" class="fa fa-instagram"></a>
		<a href="https://www.linkedin.com/in/shubham-jain-48a941174/" class="fa fa-linkedin"></a>
	  </div>
						<div class="footer_sub_3">
							 <center>
							 <form name="form" action="/" method="POST">{% csrf_token %)
							 <h4><font color="arial" id="subscbe">Subscribe Us</font></h4>
							 <input type="text" name="email" placeholder="Write your e-mail" class="subs">
							 <input type="submit"name="submit_btn" value="Subscribe" class="sub_btn"><br><br>
							 <p class="sub_p">Enter your e-mail id for get notification for us.</p>
							 </form>
							 </center>
						</div>
	  <div class="container text-center" id="copy">
	  <small>Copyright &copy:  <a href="http://127.0.0.1:8000/shop/" style="color:white";> SMARTCart.com</a></small>
    </div>
  </footer>-->
  
  <div class="card mt-5" id="card">  <div class="card-header">
    SMARTCart
  </div>
  <div class="card-body" style="background-color:lightgray;">
  <div id="social" align="left">
		<a href="https://www.facebook.com/buddy.sj" class="fa fa-facebook" style="margin-lef:10px;"></a>
		<a href="https://twitter.com/Ess_Jay2" class="fa fa-twitter"></a>
		<a href="https://www.instagram.com/theshubham31/?hl=en" class="fa fa-instagram"></a>
		<a href="https://www.linkedin.com/in/shubham-jain-48a941174/" class="fa fa-linkedin"></a>
	  </div>
    <blockquote class="blockquote mb-0">
      <form name="subs" action="/shop/subscribe/" method="post" align="center">{% csrf_token %}
       <b id="sub_bold"> Subscribe To Our Website </b> <br>
        <input type="email" name="email" id="email1" placeholder="Email" class="mt-2" size="30">
		<div id="show_error5"></div>
         <button class="btn btn-success mt-2" type="submit" id="button1">Submit</button>
      </form>
      <footer class="blockquote-footer" align="right"> <small>Copyright &copy:  <a href="http://127.0.0.1:8000/shop/" style="color:white";> SMARTCart.com</a></small></footer>
    </blockquote>
  </div>
</div>
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 {% block js %} 

{% endblock %}
 </body>
</html>	
